/* body{
    color: black;
    background-color: black;
} */
h1{
    align-items: center;
    text-align: center;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}
html {
  /* footer support */
  position: relative;
  min-height: 100%;
}